* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    background-color: #042a2b;
    overflow: auto;
}

/* .button-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
} */

.button {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #5eb1bf;
    font-weight: bold;
    font-size: 10vw;
}

/* TRANSLATION PAGE */
.back {
    background-color: #5eb1bf;
    width: 100%;
    height: 20%;
    padding: 2rem;
}

.back-arrow {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-top: 1rem solid white;
    border-left: 1rem solid white;
    transform-origin: center;
    transform: rotate(-45deg);
}

.back-arrow::after {
    content: "";
    display: block;
    width: 1rem;
    height: 10rem;
    background-color: white;
    transform: rotate(-45deg) translate(50px, 10px);
}

.words {
    width: 100%;
    height: max-content;
}

.btn {
    background-color: #5eb1bf;
    width: 100%;
    height: 30%;
    padding: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 10vw;
    color: white;

}

.arrow-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    gap: 2rem;
}

.arrow-element {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5eb1bf;
    width: 50%;
    height: 100%;
}

.arrow {
    position: absolute;
    border: solid white;
    border-width: 0 1.5rem 1.5rem 0;
    padding: 2vh;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}